extends layout

block content
  script(src="/js/clients.js")
  script(src="/js/libs/reconnecting-websocket/reconnecting-websocket.min.js ")
  include partials/exit
  include partials/tabs
  div(role="tabpanel" class="tab-pane" id="clients")
  div.right Всего онлайн:&nbsp;
    span#totalClients
    |&nbsp;Макс:&nbsp;
    span#maxOnline #{maxOnline}