doctype html
html
  head
    script(src="/js/libs/jquery-3.1.1.min.js")
    script(src="/js/libs/toast/src/jquery.toast.js")
    script(src="/js/libs/bootstrap/js/bootstrap.js")
    script(src="/js/main.js")
    title= title
    link(rel='stylesheet', href='/js/libs/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/js/libs/toast/src/jquery.toast.css')

  body
    block content
