extends layout

block content
  form(role='form', action="/login",method="post", style='max-width: 300px;')
    .form-group
      input.form-control(type='text', name="username", placeholder='Login')
    .form-group
      input.form-control(type='password', name="password", placeholder='Password')
    button.btn.btn-primary(type='submit') Войти
    | &nbsp;
    if allowSingUp
      button.btn.btn-primary(type='button')
        a(href='/registration')  Регистрация