body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input.token {
  width: 100%
}

.action_column {
  width: 200px;
}

button.exit {
  float: right;
}

textarea.edit_json {
  width: 100%;
  height: 400px;
}

.right {
  float: right;
}
